/* ADOBE FONTS */
@import url('https://use.typekit.net/hld0wlm.css');

/* ❗❗❗ video proportion: 1300x812 */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;

  /* border: #9a9a9a 1px dotted; */
}

body {
  width: 100vw;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  overflow-x: hidden;
  background: #282828;
  color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.25s;
}

a:hover {
  transform: scale(1.1);
}

/* #construction {
  display: flex;
  align-items: baseline;
  gap: 20px;
  opacity: 0.8;
}

.construction-img img {
  width: 100%;
}

#warning {
  width: 50px;
}

#config {
  width: 40px;
}

#construction-text {
  font-family: six-hands-condensed, sans-serif;
  font-size: 46pt;
  text-transform: uppercase;
  color: #ffffff;
} */

#outer-container {
  width: 1000px;
  padding: 30px 50px;
  background-color: #f5f5f5;
  background: linear-gradient(120deg, #f5f5f5 0%, #bbbbbb 35%, #888888 100%);
}

header {
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transform: rotate(-5deg);
  user-select: none;
}

#name {
  font-family: audrielle-no2, sans-serif;
  font-size: 72pt;
}

#page-title {
  position: relative;
  bottom: 35px;
  font-family: six-hands-marker, sans-serif;
  font-size: 11pt;
  text-align: center;
}

#title-img {
  width: 160px;
  position: relative;
  bottom: 32px;
}

#social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  position: relative;
  bottom: 30px;
}

.social-link-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 12px;
}

.social-link-icon {
  width: 25px;
}

.social-link-icon img {
  width: 100%;
}

.social-link-text {
  font-family: six-hands-condensed, sans-serif;
  font-size: 28pt;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.project-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.project-title {
  font-family: six-hands-brush, sans-serif;
  font-size: 24pt;
  user-select: none;
}

.project-techs {
  width: 80%;
  position: relative;
  top: -20px;
  font-family: six-hands-marker, sans-serif;
  font-size: 14pt;
  text-align: center;
}

.project-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: six-hands-marker, sans-serif;
  font-size: 12pt;
  text-align: justify;
}

.quote {
  width: 80%;
  margin: 30px 0 40px 0;
  position: relative;
  opacity: 0.7;
}

.quote p {
  font-size: smaller;
  text-align: justify;
  font-style: italic;
}

.quote-detail {
  width: 95%;
  font-family: six-hands-condensed, sans-serif;
  text-align: end;
}

.quotation-mark {
  position: absolute;
  font-family: six-hands-brush, sans-serif;
  font-size: 50pt;
}

.quotation-mark-left {
  top: -40px;
  left: -30px;
  transform: rotate(15deg);
}

.quotation-mark-right {
  bottom: -30px;
  right: -30px;
  transform: rotate(15deg);
}

.project-links {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: six-hands-condensed, sans-serif;
  font-size: 28pt;
  text-transform: uppercase;
}

#arrows-container {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 130px;
}

.arrow {
  width: 30px;
  transform: rotate(-90deg);
  cursor: pointer;
}
